@use "variable";

* {
    padding: 0px;
    margin: 0px;    
}
body.no-game {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: variable.$main-color;
}
h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
}
header {
    flex: 0 0 auto;
}
section#Contributors {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
    background-color: variable.$footer-color;
}
