* {
    padding: 0px;
    margin: 0px;    
}
body.no-game {
    display: flex;
    background-color: $main-color;
}
& h1, h2, h3, h4, h5, h6 {
    color: aliceblue;
}
& footer {
    align-self: flex-end; // The footer might not appear att the bottom but that is because the body isn't tall enough
    background-color: $footer-color;
}